#Main {
color: #7B1113;
font-size: 30px;
}
#Cats Story {
    color: #7B1113;
}
body {
background: url("http://media.pennlive.com/go/photo/cats14x22jpg-d7baa47ada1b58e8.jpg") no-repeat;
}
}
h1 {
color: #7B1113;
display: inline;
font-size: 82px;
margin-left: 271px;
}
}
p {
	font-family: "Heather";
	font-size: larger;
	}p 