#Main {
color: #7B1113;
}

#chars {
    color: #7B1113;
}
body {
background: url("http://www.thirteen.org/13pressroom/files/2014/09/GP_CATS.jpg") no-repeat;
}
#Minor {
color: #7B1113;
}
h1 {
color: #7B1113;
}
p {
	font-family: "Heather";
	font size: 100px;
	font-size: larger;
	}